.collapseContainerAbout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collapseItemAbout {
  width: 90%;
  padding: 20px;
}

.collapse {
  padding: 10px;
  font-weight: 700;
  font-size: 18px;
}
