header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  padding: 20px 50px;
  margin: 0 auto;

  .logo {
    width: 210px;
    height: 68px;
  }

  .nav ul {
    display: flex;
    list-style: none;
    font-size: 24px;
    li {
      padding: 10px 20px;
    }
    li a {
      text-decoration: none;
      color: black;
    }
  }
}

@media (max-width: 768px) {
  header {
    padding: 0px 10px;

    .logo {
      width: 145px;
      height: 46px;
    }

    .nav ul {
      display: flex;
      list-style: none;
      font-size: 24px;
      li {
        padding: 0px 10px;
      }
      li a {
        font-size: 12px;
        font-weight: 500;
      }
    }
  }
}
