.carousel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .carouselPicture {
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 25px;
    height: 415px;
  }

  .chevron {
    font-size: 100px;
    position: absolute;
    z-index: 10;
    color: white;
  }

  .left {
    left: 30px;
  }

  .right {
    right: 30px;
  }

  .counter {
    position: absolute;
    bottom: 30px;
    color: white;
    font-size: 18px;
    left: 50%;
  }
}

@media (max-width: 768px) {
  .carousel {
    .chevron {
      font-size: 50px;
    }

    .counter {
      display: none;
    }
  }
}
