footer {
  background-color: black;
  margin-top: 20px;
  height: 209px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  .footer-text {
    color: white;
    font-size: 24px;
    font-weight: 500;

    .brFooter {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  footer {
    .footer-text {
      .brFooter {
        display: block;
      }
    }
  }
}
