.error-container {
  text-align: center;

  .error-title {
    font-weight: 700px;
    font-size: 288px;
    color: #ff6060;
    margin: 100px;
    display: flex;
    justify-content: center;
  }

  .error-message {
    font-weight: 500px;
    font-size: 18px;
    color: #ff6060;
    margin-bottom: 100px;

    .brError {
      display: none;
    }
  }

  p {
    margin-bottom: 100px;
  }
}

@media (max-width: 768px) {
  .error-container {
    .error-title {
      font-size: 96px;
    }

    .error-message {
      .brError {
        display: block;
      }
    }
  }
}
