body {
  font-family: 'Montserrat', sans-serif;

  .main-content {
    max-width: 1440px;
    padding: 20px 50px;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  body {
    .main-content {
      padding: 10px 10px;
    }
  }
}
