.banner {
  height: 223px;
  margin: 20px 0;
  border-radius: 25px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.bannerHover {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 48px;
  font-weight: 700;
}

.bannerHome {
  background-color: rgba(0, 0, 0, 0.6);
}

.bannerAboutUs {
  background-color: rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  .banner {
    padding-right: 110px;
  }

  .bannerHover {
    text-align: start;
    font-size: 24px;
    padding-right: 110px;
    padding-left: 20px;
  }
}
